<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AmazonItsco_Data_ClassLibrary.Properties.Settings.DBAMAZONITSCOConnectionString"
            connectionString="Data Source=.\SQLEXPRESS02;Initial Catalog=DBAMAZONITSCO;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>